@import "@fortawesome/fontawesome-free/css/all.css";
$color :  #212529;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  
}

body {
  height : 100vh;
  width: 100%;
  font-family: 'Barlow', sans-serif;  
  //homePage
  .accueil{
    width : 100%;
    height: 100vh;
    position: relative;
  }
 
  h1{
    padding-top: 22%;
    padding-left: 5%;
    margin-left: 17%;
    color: $color;
    font-weight: bold;
    @media only screen and (max-width: $xl) {
      margin-right: 8%;
      margin-top : 8%;
    }
    @media only screen and (max-width: $lg) {
      margin-right: 8%;
      margin-top:10%;
    }
    @media only screen and (max-width: $md) {
      margin-top:21%;

    }
    @media only screen and (max-width: $sm) {
      font-size: 1.8rem;
      padding-top: 40%;
      padding-bottom: 5%;
      padding-left: 12%;
      margin-left: 10%;
      margin-right: 0%;
      margin-top:20%;

    }
    span{
      font-size: 3.2rem;
      @media only screen and (max-width: $lg) {
        font-size: 3rem;
      }
      @media only screen and (max-width: $md) {
        font-size: 2rem;
      }
    }
     
  }
  //button hamburger
  .menu-burger {
    z-index : 1000;
    position: fixed;
    left: 2%;
    top: 3%;
    background-color:white;
    width: 3%;
    height: 5%;
    cursor: pointer;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    @media only screen and (max-width: 736px) {
      left: 6%;
      top: 3%;
      width: 3%;
      height: 5%;
    }
    .barre{
      // width: 50%;
      // height : 9%;
      width: 40px;
      height: 5px;
      background-color:  $color;
      @media only screen and (max-width: $sm) {
        width: 30px;
        height: 2,3px;
      }
    }
      .b1{
        position: relative;
        top:-5px;// pour décoler
        transition: all 0.2s;
      }
      .b2 {
        position: relative;
        transition: all 0.2s;
        top:5px;
        
      }
     
  }
  // menu
  .cont-menu {
    z-index: 900;
    width: 100%;
    height: 120%;
    background-color: black;
    position: absolute;
    left: -100%;
    top : -20%;
    
  .menu{
    display : grid;
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
    grid-template: repeat(4,90px) /300px; // 4rows, 
    color: white;

    @media only screen and (max-width: $sm) {
      margin-left: 20%;
      top : 48%;
      left : 42%;

    }
    span {
      font-size: 3rem;
      font-weight: bold;
      color: white;
      @media only screen and (max-width: $sm) {
        font-size: 2.5rem;
  
      }
    }
    .contacts:hover, .projects:hover, .skills:hover, .about:hover{
      text-decoration: underline;
      color: white;;
    }
  }
}

//about
.about-page{
    width: 100%;
    height:100%;
}
  .fa-grip-lines{
    color: #212529;
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 5%;
  @media only screen and (min-width: $sm) {  
    display : none;
 }}
  .cont-main{
    display : flex; 
    width: 100%;
    height:100%;
    .cont-text{
      padding: 5%;
      margin-top : 3%;
      margin-bottom: 3%;
      margin-right: 15%;
      margin-left: 11%; 
      .titre{
        text-align: left;
        font-size: 4rem;
        padding-bottom: 10px;
        margin-top: 0;
        @media only screen and (max-width:$sm ) {
          font-size: 3rem;
          padding-top : 20%;
          padding-left: 10%;;
         
        }
        
      }
      .text{
        padding-top: 2%;
        font-family: 'Open Sans', sans-serif;
        @media only screen and (max-width:$sm ) {
          font-size: 0.9rem;
          padding-top : 5%;
          padding-left: 10%;;
         
        }
      }
      
    }
  
   //menuMobile
  .cont-menu-a{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 35%;
    height: 62%;
    @media only screen and (max-width: $sm) {
      display : none;
    }
 }

    .home-a, .about-a, .skills-a, .projects-a, .contacts-a  {
      font-size:3.4rem;
      color:  $color;
      font-weight: bold;
    }
    .home-a:hover, .projects-a:hover, .skills-a:hover, .about-a:hover, .contacts-a:hover{
      text-decoration: underline;
      color:  $color;
     }
    
  }
  //skills
  .skills-page{
    width: 100%;
    height:100%;
  }
  .js {
    font-weight: bold;
    font-size: 2.5rem;
    height: 5%;
    width: 6%;
    margin-left: 10%;
    margin-top: 20%;
  }
  .c {
    font-size: 1.4rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 65%;
    margin-top: 22%;
    position : absolute;
  }
  .asp {
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 48%;
    margin-top: 13%;
    position : absolute;
  }
  .php {
    font-size: 2.5rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 65%;
    margin-top: 15%;
    position : absolute;
  }
  .symfony{
    font-size: 1.5rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 68%;
    margin-top: 27%;
    position : absolute;
  }
  .angular {
    font-size: 1.5rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 76%;
    margin-top: 22%;
    position : absolute;
  }
  .ht {
    font-size: 1rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 43%;
    margin-top: 31%;
    position : absolute;
  }
  .css1 {
    font-size: 1.5rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 64%;
    margin-top: 6%;
    position : absolute;
  }
  .jquery {
    font-size: 1rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 39%;
    margin-top: 20%;
    position : absolute;
  }
  .xml {
    font-size: 1.3rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 60%;
    margin-top: 30%;
    position : absolute;
  }
  .ajax {
    font-size: 1.3rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 76%;
    margin-top: 31%;
    position : absolute;
  }
  .sql {
    font-size: 1.7rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 41%;
    margin-top: 12%;
    position : absolute;
  }
  .mysql {
    font-size: 1.7rem;
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 50%;
    margin-top: 39%;
    position : absolute;
  }
  .phpmyadmin {
    font-size: 1.3rem;
    font-weight: bold;
    height: 5%;
    width: 7%;
    margin-left: 65%;
    margin-top: 37%;
    position : absolute;
  }
  .uml {
    font-weight: bold;
    height: 5%;
    width: 6%;
    margin-left: 80%;
    margin-top: 38%;
    position : absolute;
  }
  .microsoft {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 73%;
    margin-top: 10%;
    position : absolute;
  }
  .python {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 50%;
    margin-top: 25%;
    position : absolute;
  }
  .github-s {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 52%;
    margin-top: 32%;
    position : absolute;
  }
  .node {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 56%;
    margin-top: 8%;
    position : absolute;
  }
  .responsive {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 42%;
    margin-top: 36%;
    position : absolute;
  }
  .server {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 77%;
    margin-top: 15%;
    position : absolute;
  }
  .apache {
    font-size: 1.3rem;
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 54%;
    margin-top: 16%;
    position : absolute;
  }
  .scrum {
    font-weight: bold;
    height: 7%;
    width: 6%;
    margin-left: 45%;
    margin-top: 8%;
    position : absolute;
  }
  //projects
  .projects-page {
    width: 100%;
    height:100%;

  }  
   .cont-projects{
    margin-top: 3%;
    margin-left: 6%;
    width: 55%;
    height:85%;
    display : flex;
  .nom-projects{
    margin: 1%;
    width: 22%;
    a:hover{
      text-decoration-color: #212529;
    }
    .titre-1, .titre-2, .titre-3, .titre-4, .titre-5, .titre-6, .titre-7, .titre-8{
      margin-bottom : 20%;
      margin-top: 20%;
      font-size: 1.5rem;
      font-weight: bold;
      color:  $color;
      @media only screen and (max-width:$md ) {
        padding-left: 100%;
        font-size: 1.3rem;
      }

    }
    
  }
  .icon-line{
      border-left: 6px solid $color; 
      height: 80%; 
      position:absolute; 
      left: 54%; 
      top : 9%;
      @media only screen and (max-width:$md ) {
        display : none;
      }
    
  }
  .text-project{
      margin: 2%;
      margin-left: 4%;
      width: 68%;
      .text-1, .text-2, .text-3, .text-4, .text-5, .text-6, .text-7, .text-8{
        text-align: left;
        padding : 1%;
        padding-right: 8%;
        margin-bottom : 2%;
        margin-top: 2.5%;
        font-size: 1rem;
        margin-right: 2.5%;
        @media only screen and (max-width:$md ) {
          display : none;
        }
      }
    }
  
  }
  

  //contacts
  
  .main-contacts{
    width: 100%;
    height:100%;
    .text-contacts{
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    padding-top : 5%;
    @media only screen and (max-width:$lg ) {
      font-size: 4rem;
      padding-top : 20%;
    }
    @media only screen and (max-width:$md ) {
      font-size: 3rem;
      padding-top : 25%;
    }
    @media only screen and (max-width: $sm) {
      padding-top : 30%;
    }
  }
    .text-intern{
      font-size: 1.5rem;
      text-align: center;
      padding : 2%;
      margin-top: 3%;
      font-weight: bold;
      @media only screen and (max-width:$lg ) {
        font-size: 1.3rem;
        padding-top : 5%;
      }
      @media only screen and (max-width:$md ) {
        padding : 10%;
      }
      @media only screen and (max-width: $sm) {
        font-size: 1rem;
        padding : 15%;
      }
      .email {
        text-decoration: underline;
      a{
        color :#212529;
        font-size: 1.5rem;
        @media only screen and (max-width:$lg ) {
          font-size: 1.3rem;
        }
        @media only screen and (max-width: $sm) {
          font-size: 1rem;
        }
      }}
      
    }
    .icons {
      font-size: 1rem;
      display : flex;
      text-align: center;
      margin-top: 10%;
      margin-left: 30%;
      margin-right: 28%;
      padding-bottom: 1%;
      @media only screen and (max-width:$xl) {
        margin-left: 26%;
        margin-top: 10%;
      }
      @media only screen and (max-width:$lg) {
        margin-left: 21%;
        margin-top: 8%;
      }
      @media only screen and (max-width:$md ) {
        margin-left: 17%;
        margin-top: 4%;
      }
      @media only screen and (max-width:$sm) {
        margin-left: 29%;
        margin-top: 2%;
      }
      
      .fa-caret-right{
        font-size: 4.5rem;
        margin-left: 5%;
        margin-top: -2%;
        @media only screen and (max-width:$sm ) {
          display : none;
        }
      }
      .fa-circle{
        font-size: 2.5rem;
        margin-left: 5%;
        margin-top: 1.1%;
        @media only screen and (max-width:$sm ) {
          display : none;
        }
      }
      .fa-arrow-down{
        font-size: 2.5rem;
        margin-left: 5%;
        margin-top: 1.6%;
        @media only screen and (max-width:$sm ) {
          display : none;
        }
      }
      .fa-square{
        font-size: 2.5rem;
        margin-left: 5%;
        margin-top: 1%;
        @media only screen and (max-width:$sm ) {
          display : none;
        }
        
      } 
     
      .linkedin, .github, .glitch, .cv {
        margin-top: 1.6%;
        margin-left: 5%;
        padding-bottom: 1%;
        font-weight: bold;
        @media only screen and (max-width:$sm ) {
          margin-left: 1%;
          padding-right: 4%;

        }
        
      }
    }
    .fa-times{
      position: fixed;
      left: 2.5%;
      top: 2.5%;
      background-color : white;
      font-size: 2.9rem;
      @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
      }
      
   }
   a{
    color :#212529;
  }
   .popup{
     background-color: transparent;
   }
}
}  



