@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width : 100%;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
#app{
  height: 200%;
  width : 100%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
